@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  .bg {
    position: absolute;
    z-index: -1;
    // width: 100%;
    height: 100vh;
  }
}

.header {
  z-index: 5;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  background: #e9efff;
  height: 3rem;

  .logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 2rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    color: #0000;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: 500;

    a {
      color: black;
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: #0c6cff;
    }
  }

  .nav-btn {
    background: transparent;
    border: none;
    display: flex;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
  }

  .access-code {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn {
      font-family: 'poppins';
      font-weight: 500;
      color: #ffff;
      background: #0c6cff;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
    }

    input {
      border: 0px solid transparent;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      color: #000;
    }
  }
}

// PAGES---------
.section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // color: #ffffff;

  .heading {
    width: 30%;
    padding: 1rem;
    // background: #000;
  }

  .section1-title {
    font-weight: 600;
    color: #273e6c;
    // background: #000;
    font-size: 5rem;
  }

  .section1-subtitle {
    color: #399ebc;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    // background: #c67b7b;
  }
  .section1-desc {
    color: #34a4a7;
  }

  .video {
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
  }

  // background-color: #0c6cff;
}

//maps
#map-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.leaflet-container {
  height: 600px;
  width: 30%;
}

.cluster-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  padding: 0.4rem;
  color: #ffff;
  background: radial-gradient(
    circle,
    rgba(34, 124, 201, 1) 0%,
    rgba(48, 128, 202, 1) 56%,
    rgba(46, 109, 150, 1) 100%
  );
}

@media only screen and (max-width: 1024px) {
  .page-container {
    .bg {
      height: 100vh;
      object-fit: cover;
    }
  }

  .header {
    flex-direction: column;
    justify-content: center;

    .logo {
      width: 100%;
      font-size: 0.8rem;

      img {
        width: 1.3rem;
      }
    }

    nav {
      position: fixed;
      top: 5rem;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      padding-top: 20px;
      flex-direction: column;

      transition: 0.5s;
      transform: translateY(-100vh);

      .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }

      a {
        font-size: 2rem;
        color: #283e71;
      }

      a:hover {
        transform: scale(1.5);
      }
    }

    .responsive_nav {
      transform: none;
      backdrop-filter: blur(10px);
    }

    .nav-btn {
      visibility: visible;
      opacity: 1;
    }

    .nav-btn:hover {
      transform: scale(1.5);
      transition: ease-in-out;
    }

    .access-code {
      * {
        display: none;
      }
    }
  }
  .section1 {
    flex-wrap: wrap;

    .heading {
      width: 100vw;
    }
    .section1-title {
      line-height: 50px;
      font-size: 4rem;
      padding: 20px 0;
    }
    .section1-subtitle {
      margin: 0;
    }
    .section1-desc {
    }
    .video {
      width: 18rem;
      height: 11rem;
    }
  }
  .section2 {
    flex-wrap: wrap;
    #map-container {
      justify-content: center;
      .leaflet-container {
        width: 70%;
        justify-content: center;
      }
    }
  }
}
